.box {
	width: 250px;
	background-color: #fff;
	border: 1px solid rgb(238, 238, 238);
	padding: 5px 15px 5px 15px;
	margin-bottom: 10px;
}
.box_title {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid rgb(238, 238, 238);
	span {
		display: inline-block;
		height: 50px;
		background-repeat: no-repeat;
	}
	.title {
    padding-left: 32px;
    font-size: 18px;
    background-size: 25px;
    background-position: 0px 12px;
	}
	.boy_box {
		background-image: url("../../../../assets/images/boy_icon.png");
	}
	.girl_box {
		background-image: url("../../../../assets/images/girl_icon.png");
	}
	.book_box {
		background-image: url("../../../../assets/images/book_icon.png");
	}
	.more {
		float: right;
		padding-right: 10px;
		font-size: 12px;
		color: rgb(207, 207, 207);
		background-image: url("../../../../assets/images/more_icon.png");
		background-size: 11px;
		background-position: 22px 19px;
	}
}
.box_content {
	width: 100%;
	font-size: 13px;
	color: #666;
	padding: 12px 0;
	li {
		width: 25%;
		line-height: 20px;
		&:hover {
			cursor: pointer;
			color: red;
		}
	}
}
