.warp {
	.warp-box {
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
		.box-right {
			margin-left: 30px;
			.box-warp {
				display: flex;
				flex-wrap: wrap;
				.search-all {
					margin-left: 30px;
				}
			}
		}
	}
}
